<body>
  <!-- formulário e flexbox -->
  <div class="flex-container">
    <h1><span class="contato">Contato</span> <br>11 2296-6256 - 11 91648-6542 <br><br><br><span
        class="contato">Localização</span> <br>Av Paulista, 1896 BL A APT 38 <br><br><br><span class="contato">Horário
        Comercial</span><br>Seg - Sex / 10h - 20h <br>Sáb - Dom / Fechado</h1>
    <div class="container formulario">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="container"><br>
          <h4 class="titulo">Fale Conosco</h4>
          <br>
          <p class="texto"></p>
        </div>
        <div>
          <input class="texto" placeholder="Nome" type="texto" id="nome" name="nome_usuario" formControlName="nome">
        </div>
        <div>
          <input class="texto" placeholder="Telefone" type="tel" id="telefone" name="telefone_usuario"
            mask="(00) 0000-0000||(00) 0 0000-0000" formControlName="telefone">
        </div>
        <div>
          <input class="texto" placeholder="E-mail" type="email" id="email" name="email_usuario"
            formControlName="email">
        </div>
        <div>
          <textarea class="form-control" placeholder="Mensagem" id="texto" name="mensagem_usuario"
            formControlName="mensagem"></textarea>
        </div>
        <div class="container text-center">
          <button type="submit" [disabled]="!form.valid" class="btn btn-outline-success">Enviar</button>
        </div>
        <div>
          <h6 class="saibaMais">Saiba mais</h6><a href="page-termos-condicoes.html">
            <h6 class="link">Termos e Condições</h6>
          </a>
        </div>
      </form>
    </div>
  </div>
</body>
<br>
<!-- rodapé -->
<footer>
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <span><a routerLink="/home"><img src="../../assets/images/logo.png" alt="Logomarca da E-Waste"
              width="200" /></a></span>
        <div class="row mt-5">
          <div class="col-md-12 text-center">
            <span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.facebook.com/?locale=pt_BR"><img
                  src="assets/images/efacebook_social media_icon.png" class="hover" alt="icone-facebook" /></a></span>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.instagram.com/"><img
                  src="assets/images/eintsagram_social media_icon.png" class="hover" alt="icone-instagram" /></a></span>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.linkedin.com/login/pt"><img
                  src="assets/images/elinkedin_social media_icon.png" class="hover" alt="icone-twitter" /></a></span>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-12 text-center">
          <p class="footer">
            Copyright ©2024
            <script>
              document.write(new Date().getFullYear());

            </script>
            All rights reserved.
          </p>
        </div>
      </div>
    </nav>
  </div>
</footer>
